@-webkit-keyframes rotating{
    from {
        -ms-transform: rotate(0deg) translateY(-50%);
        -moz-transform: rotate(0deg) translateY(-50%);
        -webkit-transform: rotate(0deg) translateY(-50%);
        -o-transform: rotate(0deg) translateY(-50%);
        transform: rotate(0deg) translateY(-50%);
    }
    to {
        -ms-transform: rotate(360deg) translateY(-50%);
        -moz-transform: rotate(360deg) translateY(-50%);
        -webkit-transform: rotate(360deg) translateY(-50%);
        -o-transform: rotate(360deg) translateY(-50%);
        transform: rotate(360deg) translateY(-50%);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg) translateY(-50%);
        -moz-transform: rotate(0deg) translateY(-50%);
        -webkit-transform: rotate(0deg) translateY(-50%);
        -o-transform: rotate(0deg) translateY(-50%);
        transform: rotate(0deg) translateY(-50%);
    }
    to {
        -ms-transform: rotate(360deg) translateY(-50%);
        -moz-transform: rotate(360deg) translateY(-50%);
        -webkit-transform: rotate(360deg) translateY(-50%);
        -o-transform: rotate(360deg) translateY(-50%);
        transform: rotate(360deg) translateY(-50%);
    }
}