.search-panel {
    padding: 16px 16px 4px;
    @include clearfix;
}

form {
    position: relative;
    @include clearfix;
}

h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

select {
    background: none;
    position: absolute;
    top: -2px;
    left: 0;
    margin-left: -1px;
    width: 100%;
    width: calc(100% + 2px);
    height: inherit;
    opacity: 0;
    filter: alpha(opacity=0);
}

.element-wrap--select.has-focus,
.element-wrap--text.has-focus input,
.element-wrap--text input[type="text"]:focus {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.element-wrap {
    position: relative;
    &.is-disabled {
        background-color: #eee;
    }
    &.has-focus {
        z-index: 2;
    }
    .icon {
        line-height: 1;
        color: #222;
        font-size: 1em;
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        &-chevron-down {
            font-size: .8em;
        }
        &-calendar {
            color: #1B65A4;
        }
    }
    .element-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
        color: #555;
    }
    .element-value, input {
        font-size: 14px;
        line-height: 35px;
        vertical-align: middle;
        color: #555;
    }
    &--select, input {
        display: block;
        width: 100%;
        height: 36px;
        padding: 0 12px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    &--select {
        padding-right: 24px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    }
    input {
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
    }
    &--pikaday input {
        cursor: pointer;
    }
    &--minute {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left-width: 0 !important;
    }
    &--hour {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right-width: 0 !important;
    }
    &--age {
        width: 4em
    }
}

.form-group {
    margin-bottom: 12px;
    float: left;
    width: 100%;
    &:after {
        display: table;
        content: '';
        clear: both;
        width: 100%;
    }
    &--date {
        width: 48%;
        float: left;
    }
    &--time {
        width: 47%;
        float: left;
        margin-left: 5%;
        .element-wrap {
            width: 50%;
            float: left;
        }
    }
    &--button {
        width: auto;
    }
}

.input-label {
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 4px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.radio-label {
        overflow: visible;
        font-weight: normal;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: pointer;
        font-size: 11px;
        &--dropoff {
            margin-left: 12px
        }
        input {
            position: absolute;
            margin: 0 4px 0 -20px;
            cursor: pointer;
            vertical-align: middle;
        }
    }
}

.has-error {
    label {
        color: #A94442;
    }
    .element-wrap, .element-wrap input {
        border-color: #A94442;
    }
}

.element-wrap .icon-loader {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.form-group--button {
    position: absolute;
    right: 0;
    bottom: 0;
    button {
        outline: 0;
        float: right;
        color: #fff;
        background-color: #1B65A4;
        border-color: #144a78;
        display: inline-block;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border-width: 0;
        transition: background-color .3s;
    }

    button:hover, button:focus {
        background-color: #2280d0;
    }

    button:active {
        background-color: #144a78;
    }
}

.locations-group-wrap {
    @include clearfix;
    float: left;
    width: 100%;
    position: relative;
    -webkit-perspective: 900px;
    perspective: 900px;
}

.locations-group {
    @include clearfix;
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform .4s, opacity .5s;
    transition: transform .4s, opacity .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    opacity: 0;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
    &--dropoff {
        -webkit-transform-origin: 50% 90%;
        transform-origin: 50% 90%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &--active {
        .no-csstransforms3d & {
            z-index: 2;
        }
        opacity: 1;
        transition-delay: 125ms;
        -webkit-transform: none;
        transform: none;
    }
}