.app {
    background: #f5d361;
    background: -moz-linear-gradient(top, #f5d361 0%, #e7bf3b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5d361), color-stop(100%, #e7bf3b));
    background: -webkit-linear-gradient(top, #f5d361 0%, #e7bf3b 100%);
    background: -o-linear-gradient(top, #f5d361 0%, #e7bf3b 100%);
    background: -ms-linear-gradient(top, #f5d361 0%, #e7bf3b 100%);
    background: linear-gradient(to bottom, #f5d361 0%, #e7bf3b 100%);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    padding: 16px;
}

form {
    position: relative
}

.app:after {
    content: '';
    clear: both;
    width: 100%;
    display: table;
}

h2 {
    margin-top: 0;
}

select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.form-group {
    margin-bottom: 12px;
}

.form-group:after {
    display: table;
    content: '';
    clear: both;
    width: 100%;
}

.select-wrap, input[type="text"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.075);
    box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select-wrap.has-focus, .input-wrap.has-focus input {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.element-wrap {
    position: relative;
    float: left;
    &.has-focus {
        z-index: 2;
    }
    .glyphicon  {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.select-wrap {
    &.is-disabled {
        background-color: #eee;
    }
    &--minute {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }
    &--hour {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
}

.input-value {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.form-group--horizontal {
    .input-label {
        float: left;
        width: 25%;
        line-height: 34px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .select-wrap {
        float: left;
        width: 75%;
    }
}

.location-group {
    float: left;
    width: 100%;
    margin-top: 12px;
    &:first-child {
        margin-top: 0;
    }
}

.input-wrap {
    .glyphicon {
        cursor: pointer;
    }
    &--pikaday {
        cursor: pointer;
        width: 48%;
        float: left;
    }
    &--age {
        width: 5em;
    }
}

.time-group {
    width: 47%;
    float: left;
    margin-left: 5%;
    .select-wrap {
        width: 50%;
    }
}

.input-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 6px;
    display: inline-block;

    &.radio-label {
        cursor: pointer;
        width: auto;
        font-size: 12px;
        &--dropoff {
            margin-left: 12px
        }
        input {
            margin-right: 4px;
            vertical-align: middle;
        }
    }
}

.has-error {
    label {
        color: #A94442;
    }
    .select-wrap, .input-wrap input {
        border-color: #A94442;
    }
}

.loading {
    background: url(../img/loading.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

.loader {
    padding: 24px;
    text-align: center;
}

.loading--app {
    width: 72px;
    height: 72px;
    box-shadow: 0 0 3px;
    border-radius: 100px;
    background-color: #fff;
    border: 12px solid #fff;
    display: inline-block;
}

.loading--select {
    position: absolute;
    right: 34px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
}

.app {
    .button-group {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 0
    }
    button {
        float: right;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    button:hover {
        color: #FFF;
        background-color: #286090;
        border-color: #204D74;
    }

    button:hover {
        color: #FFF;
        background-color: #286090;
        border-color: #204D74;
    }

    button:active:hover {
        color: #FFF;
        background-color: #204D74;
        border-color: #122B40;
    }
}