@media screen and (max-width: 260px) {
	h2 {
		font-size: 1.2em;
	}
	.input-label {
		font-size: 9px;
	}
	.date-time-group {
		.form-group--date {
			width: 52%;
		}
		.form-group--time {
			width: 43%;
			.element-wrap {
				text-align: center;
				padding: 0;
			}
		}
		.icon {
			display: none;
		}
	}
}

@media screen and (max-width: 479px) {
	.search-panel {
	    &.is-rtl {
			.form-group {
			    &--horizontal {
			        .input-label {
			            float: right;
			        }
			        .element-wrap {
			            float: right;
			        }
			    }
			}
	    }
	}
	.form-group {
	    &--horizontal {
	        .input-label {
	            float: left;
	            width: 25%;
	            line-height: 36px;
	            margin: 0;
	            overflow: hidden;
	            text-overflow: ellipsis;
	            white-space: nowrap;
	        }
	        .element-wrap {
	            float: left;
	            width: 75%;
	        }
	    }
	}
}

@media screen and (min-width: 480px) {
	.search-panel {
	    &.is-rtl {
			.form-group {
				&--location {
					float: right;
					margin-left: 0;
					margin-right: 2%;
					&:first-child {
						margin-right: 0;
					}
				}
			}
	    }
	}
	.form-group {
		&--location {
			float: left;
			width: 32%;
			margin-left: 2%;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

@media screen and (min-width: 640px) {
	.search-panel {
	    &.is-rtl {
	    	.date-time-group {
	    		float: right;
	    		&--dropoff {
					margin-left: 0;
					margin-right: 4%;
				}
			}
	    }
	}
	.date-time-group {
		width: 48%;
		float: left;
		&--dropoff {
			margin-left: 4%
		}
	}
}