<div class="location locations-dropoff" ng-show="frame === 'dropoff'">
    <h4>{{translations.dropOff}}</h4>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="puCountry">{{translations.country}}</label>
        <div class="col-sm-10">
            <div class="select-wrap">
                <!-- <div class="select-value">{{dropoff.country.name || translations.emptySelect}}</div> -->
                <select
                select-focus
                id="puCountry"
                class="form-control"
                ng-disabled="!dropoff.countries"
                ng-model="dropoff.country"
                ng-options="country as country.name for country in dropoff.countries track by country.id">
                    <option disabled value="">{{translations.emptySelect}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="puCity">{{translations.city}}</label>
        <div class="col-sm-10">
            <div class="select-wrap">
                <!-- <div class="select-value">{{dropoff.city.name || translations.emptySelect}}</div> -->
                <select
                select-focus
                id="puCity"
                class="form-control"
                ng-disabled="!dropoff.cities"
                ng-model="dropoff.city"
                ng-options="city as city.name for city in dropoff.cities track by city.id"
                ng-change="localeChanged('dropCity')">
                    <option disabled value="">{{translations.emptySelect}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="puLocation">{{translations.location}}</label>
        <div class="col-sm-10">
            <div class="select-wrap">
                <!-- <div class="select-value">{{dropoff.location.name || translations.emptySelect}}</div> -->
                <select
                select-focus
                id="puLocation"
                class="form-control"
                ng-disabled="!dropoff.locations"
                ng-model="dropoff.location"
                ng-options="location as location.name for location in dropoff.locations track by location.id">
                    <option disabled value="">{{translations.emptySelect}}</option>
                </select>
                <div class="loading loading--select" ng-show="loading.dropoff.locations"></div>
            </div>
        </div>
    </div>
</div>