<div class="loader" ng-show="loading.app">
    <div class="loading loading--app">
    </div>
</div>
<div class="search-panel" ng-show="!loading.app">
    <form role="form" ng-submit="submit()">
        <h2>{{translations.title}}</h2>
        <div class="form-group form-group--radio">
            <label class="input-label radio-label radio-label--pickup">
                <input ng-model="frame" selected="selected" type="radio" name="radio" value="pickup">{{translations.pickUp}}
            </label>
            <label class="input-label radio-label radio-label--dropoff">
                <input ng-model="frame" type="radio" name="radio" value="dropoff">{{translations.dropOff}}
            </label>
        </div>
        <div class="locations-group locations-group--pickup" ng-show="frame === 'pickup'">
            <div class="form-group form-group--horizontal form-group--location" ng-class="{'has-error': errors.country}">
                <label class="input-label">{{translations.country}}</label>
                <div class="element-wrap element-wrap--select element-wrap--country" select-replace="countries" pickup-country></div>
            </div>
            <div class="form-group form-group--horizontal form-group--location" ng-class="{'has-error': errors.city}">
                <label class="input-label">{{translations.city}}</label>
                <div class="element-wrap element-wrap--select element-wrap--city" select-replace="cities" pickup-city></div>
            </div>
            <div class="form-group form-group--horizontal form-group--location" ng-class="{'has-error': errors.location}">
                <label class="input-label">{{translations.location}}</label>
                <div class="element-wrap element-wrap--select element-wrap--location" select-replace="locations" pickup-location></div>
            </div>
        </div>
        <div class="locations-group locations-group--dropoff" ng-show="frame === 'dropoff'">
            <div class="form-group form-group--horizontal form-group--location" ng-class="{'has-error': errors.dropCountry}">
                <label class="input-label">{{translations.country}}</label>
                <div class="element-wrap element-wrap--select element-wrap--drop-country" select-replace="dropCountries" dropoff-country></div>
            </div>
            <div class="form-group form-group--horizontal form-group--location" ng-class="{'has-error': errors.dropCity}">
                <label class="input-label">{{translations.city}}</label>
                <div class="element-wrap element-wrap--select element-wrap--drop-city" select-replace="dropCities" dropoff-city></div>
            </div>
            <div class="form-group form-group--horizontal form-group--location" ng-class="{'has-error': errors.dropLocation}">
                <label class="input-label">{{translations.location}}</label>
                <div class="element-wrap element-wrap--select element-wrap--drop-location" select-replace="dropLocations" dropoff-location></div>
            </div>
        </div>
        <div class="date-time-group date-time-group--pickup" ng-class="{'has-error': errors.date}">
            <div class="form-group form-group--date">
                <label class="input-label">{{translations.pickUpDate}}</label>
                <div class="element-wrap element-wrap--text element-wrap--pikaday" ng-class="{'has-focus': pikaday.pickup.focus}">
                    <input type="text" readonly on-open="pikaday.focus = true" on-close="pikaday.focus = false" on-select="dateChanged('pickup', date, pikaday)" pikaday="pikaday.pickup">
                    <span ng-click="pikaday.pickup.show()" class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <div class="form-group form-group--time">
                <label class="input-label">{{translations.time}}</label>
                <div class="element-wrap element-wrap--select element-wrap--hour" select-replace selected-hour="form.puHour" hours></div>
                <div class="element-wrap element-wrap--select element-wrap--minute" select-replace selected-minute="form.puMinute" minutes></div>
            </div>
        </div>
        <div class="date-time-group date-time-group--dropoff" ng-class="{'has-error': errors.date}">
            <div class="form-group form-group--date">
                <label class="input-label">{{translations.dropOffDate}}</label>
                <div class="element-wrap element-wrap--text element-wrap--pikaday" ng-class="{'has-focus': pikaday.dropoff.focus}">
                    <input type="text" readonly on-open="pikaday.focus = true" on-close="pikaday.focus = false" on-select="dateChanged('dropoff', date, pikaday)" pikaday="pikaday.dropoff">
                    <span ng-click="pikaday.dropoff.show()" class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
            <div class="form-group form-group--time">
                <label class="input-label">{{translations.time}}</label>
                <div class="element-wrap element-wrap--select element-wrap--hour" select-replace selected-hour="form.doHour" hours></div>
                <div class="element-wrap element-wrap--select element-wrap--minute" select-replace selected-minute="form.doMinute" minutes></div>
            </div>
        </div>
        <div class="form-group form-group--age" ng-class="{'has-error': errors.driversAge}">
            <label class="input-label">{{translations.driverAge}}</label>
            <div class="element-wrap element-wrap--text element-wrap--age" ng-class="{'has-focus': age.focus}">
                <input type="text" number ng-init="form.driversAge = 25" ng-focus="age.focus = true" ng-blur="age.focus = false" ng-model="form.driversAge">
            </div>
        </div>
        <div class="form-group form-group--button">
            <button type="submit" href="#">{{translations.search}}</button>
        </div>
    </form>
</div>