<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="searchApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="searchApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="searchApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="searchApp"> <!--<![endif]-->
<head ng-controller="HeadCtrl">
    <meta charset="UTF-8">
    <title>rentalcars.com</title>
    <!-- build:template
        <base href="/partners/integrations/stand-alone-app/">
    /build -->
    <!-- build:remove -->
        <base href="/stand-alone-app/src/">
    <!-- /build -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" ng-href="{{stylesheet}}" ng-if="stylesheets" ng-repeat="stylesheet in stylesheets">



    <!--[if lt IE 9]>
        <script>
            document.createElement('ng-view')
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://secure.rentalcars.com/js/widget/rw-html5shiv.min.905ad.1.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.10/es5-shim.min.js"></script>
    <![endif]-->

    <!-- build:js js/app.min.js -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-cookies/angular-cookies.js"></script>
    <script src="libs/moment/moment.js"></script>
    <script src="libs/pikaday/pikaday.js"></script>
    <script src="js/vendor/ui-bootstrap/ui-bootstrap-custom.js"></script>
    <script src="js/vendor/modernizr.custom.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>
    <!-- /build -->
</head>

<body>
    <ng-view></ng-view>
</body>

</html>
